.Dashboard {
  display: flex;
  color: #333;
}

.sidebarBox {
  width: 80px;
}

.outletBox {
  flex: 1;
}
/* .Dashboard {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #333;
  }
  
  .Dashboard .main-content {
    flex: 1;
    padding: 20px;
    margin-left: 250px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 50px;
    background-color: #fff;
    width: 80%;
  } */
  
  .header-part{
    display: flex;
    gap: 20px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    padding: 20px 0;
  }
  
  
  
  .custom-calendar {
    margin-left: auto; 
    width: 280px;
    height: 280px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .content-area {
    display: flex;
    gap: 20px;
    flex: 1;
  }
  
  .statistics {
    flex: 3;
    display: flex;
    gap: 20px;
  }
  
  .time-spent,
  .completion {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
  }
  
  .chart {
    margin-top: 20px;
  }
  
  .course-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .course h4 {
    margin: 0;
    color: #55efc4;
  }
  
  .course p {
    color: #636e72;
  }
  